@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f6ede0;
}

h1 {
  text-align: center;
}
.App__toDoList {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
